<h3>New Post</h3>
<div>
  <%= form_for @post do |f| %>
    <%= f.text_field :title %>
</div>
  <div>
      <%= f.text_area :body %>
  </div>
  <div>
      <%= label :image_url, "Picture URL:" %>
      <%= f.text_field :image_url %>
  <div>
      <%= f.submit %>
    <% end %>
</div>
